
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="margin-top-20">

    <div id='post_title' data-mercury="full">			
			<%= raw(@post.title) if !@post.nil? %>
		</div>
  </div>
  <div class="margin-top-20">
	
		<div id='post_content' data-mercury="full">			
			<%= raw(@post.content) if !@post.nil? %>
		</div>
		
	
  </div>
	<div id='save_url' class="hidden" data-save-url='<%= @post.id.nil? ? mercury_new_posts_path() : mercury_update_post_path(@post) %>' >		
	<div id='redirect_url' class="hidden" data-redirect-url='<%= @post.id.nil? ? posts_path : post_path(@post) %>' >			
	</div>

