<h1>Listing posts</h1>

<% @posts.each do |post| %>
	<div class='post'>
		<h4><%= link_to post.title, post %></h4>
		<div class='post-content'>
			<%= truncate post.content, :length => 1000, :separator => ' ' %>
		</div>
		<div class='post-links margin-top-20'>
			<div class='pull-left'>
				<%= link_to 'Read more', post , :class => 'btn btn-primary'%>
			</div>
			<div class='pull-right'>
				<%= link_to 'Edit', edit_post_path(post), :class => 'btn btn-primary' %>
				<%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-primary' %>
			</div>			
		</div>
		<div class='new-post'>				
				<%= link_to 'New Post', new_post_path, :class => 'btn btn-primary' %>
			</div>
	</div>
<% end %>




