<h1>Listing posts</h1>

<% @posts.each do |post| %>
	<div class='post margin-bottom-20 margin-top-20'>
		<h4><%= link_to raw(post.title), post %></h4>
		<div class='post-content'>
			<%= truncate post.tag_removed_content, :length => 300, :separator => ' ' %>
		</div>
		<div class='post-links'>
			<div class='pull-left'>
				<%= link_to 'Read more', post %>
			</div>
			<div class='pull-right'>
				<%= link_to 'Edit', '/editor' + edit_post_path(post), :class => 'btn btn-link' %>
				<%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-link' %>
			</div>			
		</div>
		
	</div>
<% end %>

<div class='new-post'>				
	<%= link_to 'New Post', '/editor' + new_post_path, :class => 'btn btn-primary' %>
</div>




