<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> |
<%= link_to 'Like', like_post_path(@post), method: :put, remote: true %> (<span id='like'><%= @post.like %></span>)

<div id="add_a_comment" class="margin-top-20">
  <%= form_for @post, url: add_comment_post_path(@post), method: :put, remote: true do |f| %>
		<div class="control-group">
			<span class='label'>Add a comment</span>
		</div>
	  <div class="control-group">
			<label class="control-label" for="comment_author">Author</label>
			<div class="controls">
				<%= text_field :comment, :author %>				
			</div>
	  </div>
	  <div class="control-group">
			<label class="control-label" for="comment_content">Comment</label>
			<div class="controls">
				<%= text_area :comment, :content %>
			</div>
	  </div>
	  <div class="control-group">
			<div class="controls">      
				<%= f.submit "Submit", class: 'btn'%>
			</div>
	  </div>  
  <% end %>
</div>

<div id="prev">
	<span class="label">Comments</span>
		<div id='prev_inner'>
			<% Comment.order('created_at DESC').each do |comment| %>
				<div class='comment margin-top-20 margin-bottom-20'>
					<span><%= comment.created_at %></span>
					<br />
					<span><strong><%= comment.author %> said:</strong></span>
					<div class='comment_content'>
						<%= comment.content %>
					</div>
				</div>
			<% end %>
		</div>
</div>